/*  your css code here. If applicable */
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}
body{
	background-color: #f5f5f5;
}
.pictorial-news-section{
	text-align:center;
}
