/*  your css code here. If applicable */
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}
body{
	background-color: #f5f5f5;
}
.pictorial-news-section{
	text-align:center;
}
img{
	gap:10px;
	width:100px;
}
div{
	background-color:white;
	padding:10px;
}
.a{
	display:flex;
	flex-direction:column;
	border-radius:3px;
}
.b{
	display:flex;
	flex-direction:column;
}
    
